<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SISHOT | Registrar</title>
	<link rel="stylesheet" type="text/css" href="/public/css/only/estilos.css">
	<link rel="stylesheet" type="text/css" href="/public/css/cliente/estilos.css">
	{{>headers}}
	<script type="text/javascript">
	if($('.error')){
		setTimeout(()=>{
			$('.error').fadeOut(800);
		},4000);
	}
	</script>
</head>
<body>
	{{#if fallido}}
		<div class="alert alert-secondary alert-dismissible fade show w-100 " style="z-index:4;position:absolute;" role="alert">
		  	<strong>{{fallido}}</strong>
		  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    		<span aria-hidden="true">&times;</span>
		  	</button>
		</div>
	{{/if}}
	<div class="p-4" >
		<div class="row">
			<div class="col-md-6 mx-auto">
				<div class="card ">
					<div class="card-header text-center">
						<h3>Registrar</h3>
					</div>
					<div class="card-body">
						<form action="/registro" class="form" method="POST">
							<div class="form-group ">
								<div class="row">
									<div class="col-md-6">
										<label for="nombre">Nombres</label>
										<input required type="text" name="nombres" class="form-control" id="nombre" placeholder="Ingrese Nombres" autofocus="">
									</div>
									<div class="col-md-6">
										<label for="apellidos">Apellidos</label>
										<input required type="text" name="apellidos" class="form-control" id="apellidos" placeholder="Ingrese Apellidos" autofocus="">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-md-6">
										<label for="correo">Correo</label>
										<input required type="email" name="correo" id="correo" class="form-control" placeholder="Inserte Correo">
									</div>
									<div class="col-md-6">
										<label for="tipoDoc">Tipo Documento</label>
										<select name="tipoDoc" id="tipoDoc" class="form-control form-control-sm">
											{{#each tDoc}}
												<option value="{{this.id}}">{{this.nombre}}</option>
											{{/each}}
										</select>
									</div>
									
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-md-6">
										<label for="documento">Documento</label>
										<input required type="text" maxlength="15" name="documento" id="documento" placeholder="Numéro de Documento" class="form-control">
									</div>
									<div class="col-md-6">
										<label for="password">Contraseña:</label>
										<input required type="password" name="password" id="password" placeholder="Contraseña" class="form-control">
									</div>
									
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-md-6">
										<label for="Sexo ">Sexo</label>
										<div class="form-control">
											<div class="form-check form-check-inline">
											  	<input required class="form-check-input" type="radio" name="sexo" id="radio1" value="M" checked>
											  	<label class="form-check-label" for="radio1">M</label>
											</div>
											<div class="form-check form-check-inline">
											  	<input required class="form-check-input" type="radio" name="sexo" id="radio2" value="F">
											  	<label class="form-check-label" for="radio2">F</label>
											</div>
											<div class="form-check form-check-inline">
											  	<input required class="form-check-input" type="radio" name="sexo" id="radio3" value="O">
											  	<label class="form-check-label" for="radio3">Otro</label>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<label for="telefono">Teléfono</label>
										<input required type="text" name="telefono" maxlength="15" id="telefono" placeholder="Numéro de Teléfono" class="form-control">
									</div>
								</div>	
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-md-6">
										<label for="pais">Pais</label>
										<select name="pais" id="pais" class="form-control">
											{{#each paises}}
												<option value="{{this.id}}">{{this.nombre}}</option>
											{{/each}}
										</select>
									</div>
									<div class="col-md-6">
										<label for="ciudad">Ciudad</label>
										<select name="ciudad" id="ciudad" class="form-control">
											
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<button class="btn btn-primary btn-block btn-lg">Registrar</button>
							</div>								
								{{!-- <small id="nombreH" class="form-text text-muted"></small> aria-describedby="nombreH" --}}
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{>scripts}}
<script>
    $('#pais').change(()=>{
        let name = $("#pais option:selected").val();
        let datsend = "";
        $.post(`/actions/ciudades/${name}`,(data)=>{
            console.log("ciudades --> " , data);
            for(let i = 0; i < data.length;i++){
                // console.log(i, data[i].nombre);
                datsend += `<option value=\"${data[i].id}\">${data[i].nombre}</option>}`;
            }
            $('#ciudad').html(datsend);
        });
    });
</script>
</body>
</html>