<div id="content">
    <div class="buscador">
    	<i class="fas fa-search"></i><input type="text" name="" id="buscador_camp" placeholder="CAMPO: *****">
    </div>
    {{>modalFind}}
    <form class="creator" action="{{accion}}" method="post">
        <label for="">Id:</label><input type="text" name="id" value="0{{dato.id}}" disabled="disabled">
        <label for="">Nombre</label>
        <input type="text" name="nombre" value="{{dato.nombre}}" id="">
        <label for="">Fecha Adquisición:</label>
        <input type="date" name="fecha_adquisicion" value="{{dato.fecha_adquisicion}}" id="date_adq">
        <label for="">Precio:</label>
        <input type="number" name="precio_adquisicion" value="{{dato.precio_adquisicion}}" id="" step=".01">
        <label for="">Descripcion:</label>
        <textarea name="descripcion" >{{dato.descripcion}}</textarea>
        <label for="">Codigo:</label>
        <input type="text" name="codigo" value="{{dato.codigo}}" id="">
        <input class="btn btn-primary" type="submit" value="Guardar">
    </form>
    {{#if datos}}
    <div class="modelDatosCompletos">
        <div class="modelDatosHeader"><span>CODIGO</span><span>NOMBRE</span><span>PRECIO</span><span>CONFIG</span></div>
        {{!-- <div class="modelDatosHeader"></div>
        <div class="modelDatosHeader"></div>
        <div class="modelDatosHeader"></div> --}}
        {{#each datos}}
            <div class="modelDatosItem">
                <div class="modelDatos">{{this.codigo}}</div>
                <div class="modelDatos">{{this.nombre}}</div>
                <div class="modelDatos">S/{{this.precio_adquisicion}}</div>
                <div class="modelDatos">
                    <a class="button btn-edit" href="/sistema/inventario/{{this.id}}"><i class="fas fa-edit"></i></a>
                    <a class="button btn-del" href="/sistema/inventario/delete/{{this.id}}"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
        {{/each}}
    </div>
    {{/if}}
</div>
<script type="text/javascript">
	if($('#date_adq').val() == ""){
		let d = new Date();
		let dias = d.getDate();
		if(dias <=9){
			dias="0" + dias;
		}
		let mes = d.getMonth()+1;
		if(mes<=9){
			mes="0" + mes;
		}
		let year = d.getFullYear();
		// let minutes = 
		const fecha = dias + "-" + mes + "-"+year;
		console.log(fecha);
		$('#date_adq').value = fecha;
	}
</script>