.sliderParent{
	width: 100%;
	height: 540px;
	display: flex;
	align-items: center;
	position: relative;
	.sliderContent{
		overflow: hidden;
		display: flex;
		align-items: center;
		max-height: 100%;
	}
	.toDir{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr 14fr 1fr;
		grid-template-rows: 1fr;
		align-content: center;
		i{
			font-size: 4rem;
			color: $colorLetrasEnlaces;
		}
		.dir{
			cursor: pointer;
			&:hover{
				background-color: rgba(240,240,240,.2);
			}
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.left{
			grid-column: 1 / span 1;
		}
		.right{
			grid-column: 3 / span 1;
		}
	}
}