#content{
    width: 100%;
    // margin: 3% auto;
    // background-color: rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    
    // grid-template-columns: 1fr 2fr 1fr 1fr;
    @media screen and (max-width: 1050px) {
        display: flex;
        flex-direction: column;
    }
    h3{
        text-align: center;
        grid-column: 1 / span 1;
        line-height: 3rem;
    }
    .buscador{
        grid-column: 2 / span 2;
        display: flex;
        justify-content: center;
        align-items: center;
        #buscador_camp{
            line-height: 1.5rem;
            margin: 0 2%;
            width: 30%;
        }
    }
    .creator{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        width: 90%;
        justify-content: center;
        align-items: center;
        grid-column: 1 / span 2;
        grid-row: 2;
        margin: 0 auto;
        label{
            text-transform: uppercase;
        }
        input,textarea,select{
            font-family: $fuentePrincipal;
            line-height: 2.5rem;
            margin: 4% 0;
            width: 80%;
            &[type='submit']{
                font-size: 1rem;
                line-height: 2rem;
                width: 100%;
                grid-column: 1 / span 4;
            }
        }

        .sexos{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    
}