.modelDatosCompletos {
    grid-column: 3 / span 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    height: 20rem;
    overflow-y: scroll;
    position: relative;
    background-image: linear-gradient(#fff,#000, to bottom);
    .modelDatosHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(61, 60, 60);
        color: #fff;
        width: 100%;
        line-height: 3.5rem;
        position: -webkit-sticky;
        position: sticky;
        top:0;
        span{
            flex: 1;
            text-align: center;
        }
    }

    .modelDatosItem {
        width: 100%;
        display: flex;
        border-bottom: .5px solid #878787;
        .modelDatos {
            line-height: 2rem;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2%;
            &:last-child{
                justify-content: space-between;
            }
            a{
                width: 45%;
            }
            .btn-edit{
                @include btn-forms($colorPrincipalBotones,#fff);
            }
            .btn-del{
                @include btn-forms($colorSecundarioBotones,#fff);
            }
        }
    }
}