$colorLetrasEnlaces : #fff;
$colorPrincipalBotones: #4080ff;
$colorSecundarioBotones: #be2525;

$colorNotificacionErrores : #4C4C4C;

$colorPrimario : #171f46;
$colorSecundario: #20295e;
$colorLetrasBut: #70f5bb;

$fuentePrincipal: 'Berlin Sans Fb';

@mixin button($colorletras) {
    font-family: $fuentePrincipal;
    line-height: 2.5rem;
    border-radius: 13px;
    font-size: 1rem;
    cursor: pointer;
    justify-content: center;
    color: $colorletras;
    border: 2px solid $colorletras;
    text-align: center;
    // padding: 0 15%;
    margin: 5% 0 ;
    &:hover {
        background-color: darken($colorletras,15);
    }
}
@mixin input-forms($colorletras,$colorfondo){
    line-height: 2.5rem;
    border-radius: 13px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    color: $colorletras;
    border: 2px solid $colorletras;
    text-align: center;
    font-family: $fuentePrincipal;
    // padding: 0 15%;
    margin: 5% auto;
    background-color: $colorfondo;
}
@mixin btn-forms($cf,$coT){
    line-height: 2.5rem;
    background-color: lighten($cf,3);
    color: $coT;
    font-family: $fuentePrincipal;
    font-size: 1.1rem;
    text-align: center;
    border-radius: 15px;
    margin: 0 auto;
    &:hover{
        background-color: lighten($cf,5);
    }
}


/*/// ANIMACIONES ///////*/
@keyframes desaparecer{
    from{
        left:-5%;
    }
    to{
        left: 100%;
        display: none;
    }
}