/*/// ANIMACIONES ///////*/
@-webkit-keyframes desaparecer {
  from {
    left: -5%;
  }
  to {
    left: 100%;
    display: none;
  }
}
@keyframes desaparecer {
  from {
    left: -5%;
  }
  to {
    left: 100%;
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Berlin Sans Fb";
}

img {
  max-width: 100%;
}

body {
  background-color: #dad5d5;
  min-height: 100vh;
}

a {
  color: #fff;
  text-decoration: none;
}

#navPrincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#navPrincipal ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #3d439b;
}

#navPrincipal ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

#navPrincipal ul li:hover > ul {
  display: block;
}

#navPrincipal ul li a {
  line-height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navPrincipal ul li a:hover {
  background-color: rgba(124, 120, 120, 0.555);
}

#navPrincipal ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

#navPrincipal ul li ul li ul {
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
}

#content {
  width: 90%;
  margin: 0 auto;
  background-color: #cecece;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr 1fr;
      grid-template-columns: 1fr 2fr 1fr 1fr;
}

#content h3 {
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  line-height: 3rem;
}

#content .buscador {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content .buscador #buscador_camp {
  line-height: 1.5rem;
  margin: 0 2%;
  width: 30%;
}

#content .creator {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 2;
  grid-row: 2;
  margin: 0 auto;
}

#content .creator label {
  text-transform: uppercase;
}

#content .creator input, #content .creator textarea, #content .creator select {
  font-family: "Berlin Sans Fb";
  line-height: 1.5rem;
  margin: 4% 0;
  width: 80%;
}

#content .creator input[type='submit'], #content .creator textarea[type='submit'], #content .creator select[type='submit'] {
  font-size: 1rem;
  line-height: 2.5rem;
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

#content .creator .sexos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modelDatosCompletos {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / span 2;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  margin: 0 auto;
  height: 19rem;
  overflow-y: scroll;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(#000), color-stop(bottom, to));
  background-image: linear-gradient(#fff, #000, to bottom);
}

.modelDatosCompletos .modelDatosHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3d3c3c;
  color: #fff;
  width: 100%;
  line-height: 3.5rem;
}

.modelDatosCompletos .modelDatosHeader span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.modelDatosCompletos .modelDatosItem {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: .5px solid #878787;
}

.modelDatosCompletos .modelDatosItem .modelDatos {
  line-height: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
}

.modelDatosCompletos .modelDatosItem .modelDatos:last-child {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modelDatosCompletos .modelDatosItem .modelDatos a {
  width: 45%;
}

.modelDatosCompletos .modelDatosItem .modelDatos .btn-edit {
  line-height: 2.5rem;
  background-color: #4080ff;
  color: #fff;
  font-family: "Berlin Sans Fb";
  font-size: 1.1rem;
  text-align: center;
  border-radius: 15px;
}

.modelDatosCompletos .modelDatosItem .modelDatos .btn-edit:hover {
  background-color: #5a91ff;
}

.modelDatosCompletos .modelDatosItem .modelDatos .btn-del {
  line-height: 2.5rem;
  background-color: #be2525;
  color: #fff;
  font-family: "Berlin Sans Fb";
  font-size: 1.1rem;
  text-align: center;
  border-radius: 15px;
}

.modelDatosCompletos .modelDatosItem .modelDatos .btn-del:hover {
  background-color: #d32929;
}

#modalBusqueda {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(162, 162, 162, 0.7);
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modalBusqueda .modal {
  width: 75%;
  height: 80%;
  background-color: #898989;
}
/*# sourceMappingURL=estilos.css.map */