<div id="content">
    {{#if dato}}
        {{dato.nombre}}
    {{/if}}
    <form class="creator" enctype="multipart/form-data" action="{{accion}}" method="post">
        <input type="hidden" name="id" value="0{{dato.id}}">
        <label for="hotel">Hotel</label>
        <select name="hotel" id="Hotel">
        	<option value="{{dato.hotel.id}}" selected>{{dato.hotel.nombre}}</option>
        	{{#each hoteles}}
        		<option value="{{this.id}}" > {{this.nombre}}</option>
        	{{/each}}
        </select>
        <label for="tipoHabitacion">Tipo Habitacion:</label>
        <select name="tipoH" id="tipoHabitacion">
        	<option value="{{dato.tipoHabitacion.id}}" selected>{{dato.tipoHabitacion.nombre}}</option>
        	{{#each tipo_habitaciones}}
        		<option value="{{this.id}}">{{this.nombre}}</option>
        	{{/each}}
        </select>
        <label for="codigo">Codigo:</label>
        <input type="text" id="codigo" name="codigo" maxlength="5" value="{{dato.codigo}}">
        <label for="estadoHabitacion">Estado Habitacion:</label>
        <select name="estadoH" id="estadoHabitacion">
        	<option value="{{dato.estado.id}}" selected> {{dato.estado.nombre}}</option>
        	{{#each estado_habitaciones}}
        		  <option value="{{this.id}}">{{this.nombre}}</option>
        	{{/each}}
        </select>
        <label for="image">Imagen</label>
        <input style="grid-column: span 2" type="file" name="fileUpload">
        {{#if dato}}
            <img src="/public/storage/{{dato.imagen}}">
        {{/if}}
        <input class="btn btn-primary" type="submit" value="Guardar">
    </form>
    {{#if datos}}
    <div class="modelDatosCompletos">
        <div class="modelDatosHeader">
        	<span>COD</span>
        	<span>TIPO</span>
        	<span>ESTADO</span>
        	<span>CONFIG</span>
        </div>
        {{!-- <div class="modelDatosHeader"></div>
        <div class="modelDatosHeader"></div> --}}
        {{#each datos}}
            <div class="modelDatosItem">
                <div class="modelDatos">{{this.codigo}}</div>
                <div class="modelDatos">{{this.tipoHabitacion.nombre}}</div>
                <div class="modelDatos">{{this.estado.nombre}}</div>
                <div class="modelDatos">
                    <a class="button btn-edit" href="/sistema/habitaciones/{{this.id}}"><i class="fas fa-edit"></i></a>
                    <a class="button btn-del" href="/sistema/habitaciones/delete/{{this.id}}"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
        {{/each}}
    </div>
    {{/if}}
</div>
