{{!-- CONTENIDO DEL MENU PRINCIPAL --}}
{{#if msg}}
	<div class="alert w-75 mx-auto text-center alert-success" role="alert">ACCESSO CORRECTO</div>
{{/if}}
<div id="content">
	{{!-- <h1>{{title}}</h1> --}}
	<img src="/public/img/logo_paris.png" style="width: 100%;grid-column: 2 / span 2;grid-row: 2;filter: invert(0.4) sepia(1) hue-rotate(20deg) saturate(1000%);">
	{{#if reg}}
			{{reg}}
	{{/if}}
	{{#if correcto}}
			{{correcto}}
	{{/if}}
	{{#if fallido}}
			{{fallido}}
	{{/if}}
</div>