<nav class="pcoded-navbar">
    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
    <div class="pcoded-inner-navbar main-menu">
        <div class="">
            <div class="main-menu-header">
                <img class="img-80 img-radius" src="/public/img/default.png" alt="User-Profile-Image">
                {{!-- <img class="img-80 img-radius" src="/public/img/avatar-4.jpg" alt="User-Profile-Image"> --}}
                <div class="user-details">
                    <span id="more-details">{{ user.nombres }}<i class="fa fa-caret-down"></i></span>
                </div>
            </div>
            <div class="main-menu-content">
                <ul>
                    <li class="more-details">
                        <a href="user-profile.html"><i class="ti-user"></i>View Profile</a>
                        <a href="#!"><i class="ti-settings"></i>Settings</a>
                        <a href="auth-normal-sign-in.html"><i class="ti-layout-sidebar-left"></i>Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="p-15 p-b-0">
            <form class="form-material">
                <div class="form-group form-primary">
                    <input type="text" name="footer-email" class="form-control">
                    <span class="form-bar"></span>
                    <label class="float-label"><i class="fa fa-search m-r-10"></i>Search
                        Friend</label>
                </div>
            </form>
        </div>
        <div class="pcoded-navigation-label">GESTION DE ARTÍCULO</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a href="/sistema/inventario" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-home"></i><b>A</b></span>
                    <span class="pcoded-mtext">Artículos</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
        <div class="pcoded-navigation-label">GESTION DE HABITACIONES</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a href="/sistema/habitaciones" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="fas fa-door-closed"></i><b>H</b></span>
                    <span class="pcoded-mtext">Habitaciones</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
        <div class="pcoded-navigation-label">GESTION DE EMPLEADOS</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a href="/sistema/empleados" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="fas fa-people-carry"></i><b>E</b></span>
                    <span class="pcoded-mtext">Empleados</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
        <div class="pcoded-navigation-label">GESTION DE ESTADOS</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-receipt"></i><b>E</b></span>
                    <span class="pcoded-mtext">Estados</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                    <li class=" ">
                        <a href="/sistema/configuracion/estadosHabitaciones" class="waves-effect waves-dark">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Habitaciones</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="/sistema/configuracion/estadosReservaciones" class="waves-effect waves-dark">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Reservaciones</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="/sistema/configuracion/estadosEmpleados" class="waves-effect waves-dark">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Empleados</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="pcoded-navigation-label">GESTION DE CONFIGURACIONES</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-receipt"></i><b>C</b></span>
                    <span class="pcoded-mtext">Configuraciones</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                    <li class=" ">
                        <a href="/sistema/configuracion/tipoDocumento" class="waves-effect waves-dark">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Tipo Documento</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="/sistema/configuracion/tipoServicio" class="waves-effect waves-dark">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Tipo Servicio</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="/sistema/configuracion/tipoAcceso" class="waves-effect waves-dark">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Tipo Acceso</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="/sistema/configuracion/tipoEmpleado" class="waves-effect waves-dark">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Tipo Empleado</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="/sistema/configuracion/tipoHabitacion" class="waves-effect waves-dark">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Tipo Habitacion</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="/sistema/configuracion/hotel" class="waves-effect waves-dark">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Hotel</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="/sistema/configuracion/area" class="waves-effect waves-dark">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Área</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<!--<nav class="navbar navbar-expand-lg navbar-light bg-primary sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mx-auto">SIS-HOT</a>
    <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
        <ul class="container navbar-nav d-lg-flex justify-content-lg-between mr-auto text-dark">
            <li class="nav-item">
                <a class="nav-link" href="/sistema/">{{tipoUsuario.nombre}}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">GESTION DE ARTÍCULO</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/sistema/inventario">ARTÍCULOS</a>
                    <a class="dropdown-item" href="/sistema/inventario/add">NUEVO ARTÍCULO</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">GESTION DE HABITACIÓN</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/sistema/habitaciones">HABITACIONES</a>
                    <a class="dropdown-item" href="/sistema/habitaciones/add">NUEVA HABITACIÓN</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">GESTION DE EMPLEADOS</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/sistema/empleados">EMPLEADOS</a>
                    <a class="dropdown-item" href="/sistema/empleados/add">NUEVO EMPLEADO</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">GESTION DE ESTADOS</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/sistema/configuracion/estadosHabitaciones">ESTADOS DE
                        HABITACIONES</a>
                    <a class="dropdown-item" href="/sistema/configuracion/estadosReservaciones">ESTADOS DE
                        RESERVACIONES</a>
                    <a class="dropdown-item" href="/sistema/configuracion/estadosEmpleados">ESTADOS DE EMPLEADOS</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">GESTION DE CONFIGURACIONES</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/sistema/configuracion/tipoDocumento">TIPO DE DOCUMENTO</a>
                    <a class="dropdown-item" href="/sistema/configuracion/tipoServicio">TIPO DE SERVICIO</a>
                    <a class="dropdown-item" href="/sistema/configuracion/tipoAcceso">TIPO DE ACCESO</a>
                    <a class="dropdown-item" href="/sistema/configuracion/tipoEmpleado">TIPO DE EMPLEADO</a>
                    <a class="dropdown-item" href="/sistema/configuracion/tipoHabitacion">TIPO DE HABITACIÓN</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true"
                    aria-expanded="false">{{ user.nombres }}</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/sistema/configuracion/hotel">HOTEL</a>
                    <a class="dropdown-item" href="/sistema/configuracion/area">AREA</a>
                    <a class="dropdown-item" href="/logout">SALIR</a>
                </div>
            </li>
        </ul>
    </div>
</nav>-->