<nav class="navbar navbar-expand-lg sticky-top navbar-dark ">
  	<a class="navbar-brand text-light" href="/">
    	<img src="/public/img/logo_paris.png" width="180" height="80" alt="">
  	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
  	<div class="collapse justify-content-end pr-5 navbar-collapse" id="navbarTogglerDemo01">
  		<ul class="navbar-nav d-lg-flex justify-content-lg-between " style="font-size: 1.2rem">
		  	<li class="nav-item text-light" ><a class="nav-link" href="#roooooms">Habitaciones</a></li>
			{{!-- <li class="nav-item text-light" ><a class="nav-link" href="#">Habitaciones</a></li>
			<li class="nav-item text-light" ><a class="nav-link" href="#">Galería</a><li>
			<li class="nav-item text-light" ><a class="nav-link" href="#">Contactános</a></li> --}}
			<li class="nav-item text-light btn-shop" ><a href="/usuario/carrito" class="nav-link"><i class="fas fa-bed"></i></a></li>
			{{#if user}}
			<li class="nav-item text-light">
				<a href="/usuario/reservas" class="nav-link">Mis Reservas</a>
			</li>
				<li class="nav-item dropdown">
	                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">{{user.nombres}}</a>
	                <div class="dropdown-menu">
	                    <a class="dropdown-item text-dark" href="/logout">SALIR</a>
	                </div>
	            </li>
			{{else}}
				<li class="nav-item text-light lastItemNav" ><a class="nav-link" href="/registro">Registrar</a></li>
				<li class="nav-item text-light lastItemNav" ><a class="nav-link" href="/login">Ingresar</a></li>
			{{/if}}
  		</ul>
	</div>
</nav>