/*/// ANIMACIONES ///////*/
@keyframes desaparecer {
  from {
    left: -5%;
  }
  to {
    left: 100%;
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Berlin Sans Fb";
}

img {
  max-width: 100%;
}

body {
  background-color: #dad5d5;
  min-height: 100vh;
}

a {
  color: #fff;
  text-decoration: none;
}

#content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1050px) {
  #content {
    display: flex;
    flex-direction: column;
  }
}
#content h3 {
  text-align: center;
  grid-column: 1/span 1;
  line-height: 3rem;
}
#content .buscador {
  grid-column: 2/span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content .buscador #buscador_camp {
  line-height: 1.5rem;
  margin: 0 2%;
  width: 30%;
}
#content .creator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  justify-content: center;
  align-items: center;
  grid-column: 1/span 2;
  grid-row: 2;
  margin: 0 auto;
}
#content .creator label {
  text-transform: uppercase;
}
#content .creator input, #content .creator textarea, #content .creator select {
  font-family: "Berlin Sans Fb";
  line-height: 2.5rem;
  margin: 4% 0;
  width: 80%;
}
#content .creator input[type=submit], #content .creator textarea[type=submit], #content .creator select[type=submit] {
  font-size: 1rem;
  line-height: 2rem;
  width: 100%;
  grid-column: 1/span 4;
}
#content .creator .sexos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modelDatosCompletos {
  grid-column: 3/span 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  height: 20rem;
  overflow-y: scroll;
  position: relative;
  background-image: linear-gradient(#fff, #000, to bottom);
}
.modelDatosCompletos .modelDatosHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d3c3c;
  color: #fff;
  width: 100%;
  line-height: 3.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.modelDatosCompletos .modelDatosHeader span {
  flex: 1;
  text-align: center;
}
.modelDatosCompletos .modelDatosItem {
  width: 100%;
  display: flex;
  border-bottom: 0.5px solid #878787;
}
.modelDatosCompletos .modelDatosItem .modelDatos {
  line-height: 2rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.modelDatosCompletos .modelDatosItem .modelDatos:last-child {
  justify-content: space-between;
}
.modelDatosCompletos .modelDatosItem .modelDatos a {
  width: 45%;
}
.modelDatosCompletos .modelDatosItem .modelDatos .btn-edit {
  line-height: 2.5rem;
  background-color: #4f8aff;
  color: #fff;
  font-family: "Berlin Sans Fb";
  font-size: 1.1rem;
  text-align: center;
  border-radius: 15px;
  margin: 0 auto;
}
.modelDatosCompletos .modelDatosItem .modelDatos .btn-edit:hover {
  background-color: #5a91ff;
}
.modelDatosCompletos .modelDatosItem .modelDatos .btn-del {
  line-height: 2.5rem;
  background-color: #cb2727;
  color: #fff;
  font-family: "Berlin Sans Fb";
  font-size: 1.1rem;
  text-align: center;
  border-radius: 15px;
  margin: 0 auto;
}
.modelDatosCompletos .modelDatosItem .modelDatos .btn-del:hover {
  background-color: #d32929;
}

#modalBusqueda {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(162, 162, 162, 0.7);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#modalBusqueda .modal {
  width: 75%;
  height: 80%;
  background-color: #898989;
}

/*# sourceMappingURL=estilos.css.map */
