<div class="pt-3 row mx-4">

    <div class="col-md-6">
        {{#each detalles}}
        <div class="row">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters" style="position: relative">
                    <div class="col-md-4">
                        <img src="/public/storage/{{ this.habitacion.imagen }}" class="card-img"
                            alt="{{ this.habitacion.tipoHabitacion.nombre }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ this.habitacion.tipoHabitacion.nombre }}</h5>
                            <div class="row">
                                <div class="col-sm-6">
                                    <span>Fecha Inicio</span>
                                </div>
                                <div class="col-sm-1">
                                    <span>:</span>
                                </div>
                                <div class="col-sm-4">
                                    <span>{{ this.fecha_inicio }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <span>Fecha Fin</span>
                                </div>
                                <div class="col-sm-1">
                                    <span>:</span>
                                </div>
                                <div class="col-sm-4">
                                    <span>{{ this.fecha_fin }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <span>Días</span>
                                </div>
                                <div class="col-sm-1">
                                    <span>:</span>
                                </div>
                                <div class="col-sm-4">
                                    <span>{{ this.dias }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <span>Precio x Día</span>
                                </div>
                                <div class="col-sm-1">
                                    <span>:</span>
                                </div>
                                <div class="col-sm-4">
                                    <span>S/.{{ this.habitacion.tipoHabitacion.costo1 }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <span>SubTotal</span>
                                </div>
                                <div class="col-sm-1">
                                    <span>:</span>
                                </div>
                                <div class="col-sm-4">
                                    <span>S/.{{ this.subTotal }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1" style="position: absolute;top:0;left:95%">
                        <a href="/usuario/carrito/{{ @index }}/remove"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="col-md-6">
        {{#if detalle_compra}}
        <div class="card">
            <div class="card-header">
                <a href="/usuario/carrito/reset" class="btn btn-danger">Reset</a>
                <a href="/usuario/reservar" class="btn btn-success">Finalizar Reserva</a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <span>Total Habitaciones</span>
                    </div>
                    <div class="col-sm-1">
                        <span>:</span>
                    </div>
                    <div class="col-sm-4">
                        <span>{{ detalles.length }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Costo Total</span>
                    </div>
                    <div class="col-sm-1">
                        <span>:</span>
                    </div>
                    <div class="col-sm-4">
                        <span>S/.{{ total }}</span>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                Footer
            </div>
        </div>
        {{/if}}
    </div>
</div>