<div id="content">
    <form class="creator" action="{{accion}}" method="post">
        <input type="hidden" name="id" value="0{{dato.persona.id}}">
        <label for="">Nombre</label>
        <input type="text" name="nombres" value="{{dato.persona.nombres}}" id="" required>
        <label for="">Apellidos</label>
        <input type="text" name="apellidos" value="{{dato.persona.apellidos}}" id="" required>
        <label for="">correo</label>
        <input type="email" name="correo" value="{{dato.persona.correo}}" id="" required>
        <label for="">telefono</label>
        <input type="tel" name="telefono" value="{{dato.persona.telefono}}" id="">
        <label for="">sexo</label>
        <div class="sexos">
            <label for="m">M:</label><input id="m" type="radio" name="sexo" value="M" checked>
            <label for="f">F:</label><input id="f" type="radio" name="sexo" value="F">
            <label for="i">O:</label><input id="i" type="radio" name="sexo" value="I" >
        </div>
        <label for="">Tipo Documento</label>
        <select name="TIPO_DOCUMENTO_id" id="" required>
            <option value="{{dato.persona.tipoDocumento.id}}">{{dato.persona.tipoDocumento.nombre}}</option>
            {{#each tD}}
                <option value="{{this.id}}">{{this.nombre}}</option>
            {{/each}}
        </select>
        <label for="">documento</label>
        <input type="text" name="documento" value="{{dato.persona.documento}}" id="" required>
        <label for="">password</label>
        <input type="password" name="password" id="" required>
        <label for="">pais</label>
        <select name="CIUDAD_PAIS_id" id="selecPais" required>
            <option value="{{dato.persona.pais.id}}">{{dato.persona.pais.nombre}}</option>
            {{#each paises}}
                <option value="{{this.id}}">{{this.nombre}}</option>
            {{/each}}
        </select>
        <label for="">ciudad</label>
        <select name="CIUDAD_id" id="selecCiudad" required> 
            <option value="{{dato.persona.ciudad.id}}">{{dato.persona.ciudad.nombre}}</option>
        </select>
        <label for="">Area</label>
        <select name="AREA_id" id="selecPais" required>
            <option value="{{dato.area.id}}">{{dato.area.nombre}}</option>
            {{#each areas}}
                <option value="{{this.id}}">{{this.nombre}}</option>
            {{/each}}
        </select>
        <label for="">Estado</label>
        <select name="ESTADOS_id" id="selecEstado" required>
            <option value="{{dato.estado.id}}">{{dato.estado.nombre}}</option>
            {{#each estadoEmp}}
                <option value="{{this.id}}">{{this.nombre}}</option>
            {{/each}}
        </select>
        <label for="">Tipo Empleado</label>
        <select name="TIPO_EMPLEADO_id" id="selecPais">
            <option value="{{dato.tipoEmpleado.id}}">{{dato.tipoEmpleado.nombre}}</option>
            {{#each tipoEmp}}
                <option value="{{this.id}}">{{this.nombre}}</option>
            {{/each}}
        </select>
        <input class="btn btn-primary" type="submit" value="Guardar">
    </form>
    {{#if datos}}
    <div class="modelDatosCompletos">
        <div class="modelDatosHeader"><span>DOC</span><span>NOMBRE</span><span>CONFIG</span></div>
        {{!-- <div class="modelDatosHeader"></div>
        <div class="modelDatosHeader"></div> --}}
        {{#each datos}}
            <div class="modelDatosItem">
                <div class="modelDatos">{{this.documento}}</div>
                <div class="modelDatos">{{this.nombres}}</div>
                <div class="modelDatos">
                    <a class="button btn-edit" href="/sistema/empleados/{{this.id}}"><i class="fas fa-edit"></i></a>
                    <a class="button btn-del" href="/sistema/empleados/delete/{{this.id}}"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
        {{/each}}
    </div>
    {{/if}}
</div>
<script>
    $('#selecPais').change(()=>{
        let name = $("#selecPais option:selected").val();
        let datsend = "";
        $.post(`/actions/ciudades/${name}`,(data)=>{
            console.log("ciudades --> " , data);
            for(let i = 0; i < data.length;i++){
                // console.log(i, data[i].nombre);
                datsend += `<option value=\"${data[i].id}\">${data[i].nombre}</option>}`;
            }
            $('#selecCiudad').html(datsend);
        });
    });
</script>